@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@400;500;700;900&family=Rubik:wght@400;500&family=Sofia+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Mulish:wght@400;700&family=Poppins:wght@400;500;700;900&family=Rubik:wght@400;500&family=Sofia+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Cabin:wght@400;500;700&family=Mulish:wght@400;700&family=Poppins:wght@400;500;700;900&family=Rubik:wght@400;500&family=Sofia+Sans&display=swap");
html,
body {
  background: #dbd6d6;
  font-family: "Poppins";
}
.container {
  width: 100%;
  max-width: 1697.42px;
  margin: auto;
  padding: 0 20px;
}
